body {
    height: 100%;
    width: 100%;
    position: absolute;
    color: #fff;
    background-image: url('https://wallpapercave.com/wp/5KLTq1z.jpg');
    background-repeat: no-repeat;
    z-index: -2;
  }
  

.container {
    padding-top: 6em;
    text-align: center;
}

.display {
    font-size: 1.9em;
    font-family:Georgia, Garamond, Times, serif;
    text-align: center;
    letter-spacing:0.1em;
    line-height: 1.6;
    max-width: 30em;
    
}

#quoteDisplay {
    font-variant: small-caps;
    margin: 35px auto;
}

#btn {
    background-color: #031323;
    color: #fff;
    border: 2px solid #fff; 
    border-radius: 8px;
    font-family:Georgia, Garamond, Times, serif;
    padding: 10px 15px;
    font-size:14px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
}